.Nav{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(181, 226, 255);
    height: 160px;
}
.Logo{
    width: 100px;
    height: 100px;
}
.LogoTitulo{
    text-align: center;
}
.menu{
    
    text-align: center;
    
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    align-items: flex-end;
    margin: 50px;

}

a{
    text-align: center;
    align-items: center;
    padding: 5px;
    text-decoration: none;

}
.cartWidget{
    display: flex;
    width: 30px;
    height: 30px;
    text-align: center;
    

    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    align-items: flex-end;
    margin: 50px;
}

